body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F0F0F0;
}

#reset
{
	height: 50px;
	width: 25%;
	background-color: blue;
	color: white;
	border: 0;
	position: absolute;
	bottom: 0;
	z-index: 1000;
}