.fruta {
  height: 200px;
  width: 200px;
  margin: 10px 0 50px;
}

.img-responsive
{
  display: inline-block;
}

.bg-pattern-dark
{
  background-repeat: repeat;
  background-image: url(../img/pattern_1.png);
}

.bg-pattern-color
{
  background-repeat: repeat;
  background-image: url(../img/pattern_2.png);
}

.bg-light-yellow
{
  background-color: #F9F9C7;
}
